h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

div{
  box-sizing: border-box;          /* 常规边框padding向内收缩 */
  -moz-box-sizing: border-box;     /* firefox */
  -webkit-box-sizing: border-box;  /* chrome */
  -ms-box-sizing: border-box;      /* IE8以下 */
  -o-box-sizing: border-box;       /* opera */
}

h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}