body{
  color: #3C3C3C;
  font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}

body,p {
  margin: 0;
}

button, input, textarea {
  outline: none;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

div,li{
  box-sizing: border-box;          /* 常规边框padding向内收缩 */
  -moz-box-sizing: border-box;     /* firefox */
  -webkit-box-sizing: border-box;  /* chrome */
  -ms-box-sizing: border-box;      /* IE8以下 */
  -o-box-sizing: border-box;       /* opera */
}

a {
  text-decoration: none;
}

em, i {
  font-style: normal;
}

.border-box {
  box-sizing: border-box;          /* 常规边框padding向内收缩 */
  -moz-box-sizing: border-box;     /* firefox */
  -webkit-box-sizing: border-box;  /* chrome */
  -ms-box-sizing: border-box;      /* IE8以下 */
  -o-box-sizing: border-box;       /* opera */
}

.content-box{
  box-sizing: content-box;          /* 常规解除border-box */
  -moz-box-sizing: content-box;     /* firefox */
  -webkit-box-sizing: content-box;  /* chrome */
  -ms-box-sizing: content-box;      /* IE8以下 */
  -o-box-sizing: content-box;       /* opera */
}

.clearfix::after{ /*清除浮动*/
  content: "";
  display: block;
  clear: both;
}