@import url(./global.css);

body{
  background:#f4f4f4;
  color: #3C3C3C;
  -webkit-font-smoothing: antialiased;
}

.layer{
  width: 1190px;
  margin: 0 auto;
}

.site-nav{
  min-width: 1190px;
  height: 35px;
}

.site-nav .site-nav-bd{
  height: 35px;
}

.site-nav-bd .site-nav-bd-l{
  float: left;
  width: 294px;
  height: 100%;
}

.site-nav-bd .site-nav-menu{
  float: left;
  padding: 0 6px;
}

.site-nav-bd .site-nav-menu.dd{
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.site-nav-bd .site-nav-menu.dd:hover{
  background: #fff;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.site-nav-bd .site-nav-pipe{
  display: block;
  float: left;
  height: 100%;
  padding: 0 2px;
  line-height: 35px;
  font-size: 12px;
  color: #ddd;
}

.site-nav-bd .site-nav-menu a{
  display: block;
  float: left;
  height: 100%;
  margin-right: 7px;
  line-height: 35px;
  text-align: center;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  color: #6C6C6C;
}

.site-nav-bd .site-nav-menu .h{
  color: #f40;
}

.site-nav-bd .site-nav-menu a:hover{
  color: #f40;
}

.site-nav-bd .site-nav-menu a:hover .icon-shoucang{
  color: #f40;
}

.site-nav-bd .site-nav-menu .icon-xiala,
.site-nav-bd .site-nav-menu .icon-shoucang{
  display: block;
  float: left;
  height: 100%;
  line-height: 35px;
  font-size: 12px;
  color: #9c9c9c;
  transform: scale(0.5);
}

.site-nav-bd .site-nav-menu .icon-shoucang.icon-size{
  margin-right: 3px;
  transform: scale(1);
}

.site-nav-bd .site-nav-menu .icon-gouwuchekong,
.site-nav-bd .site-nav-menu .icon-menu2{
  display: block;
  float: left;
  height: 100%;
  margin-right: 3px;
  line-height: 35px;
  font-size: 12px;
  color: #f40;
}

.site-nav-bd .site-nav-menu .icon-menu2{
  transform: scaleX(.7);
}

.site-nav-bd .site-nav-bd-r{
  float: right;
  width: 607px;
  height: 100%;
}


/* -------------------------site-superbanner--------------------------- */


.site-superbanner{
  background: url(https://gw.alicdn.com/tfs/TB1b4SkoHj1gK0jSZFuXXcrHpXa-1917-100.png) no-repeat top center #ff4600;
}

.site-superbanner .site-superbanner-inner{
  height: 100px;
  padding-top: 13px;
}

.site-superbanner .site-superbanner-inner a{
  display: block;
  position: relative;
  float: left;
  width: 209px;
  height: 75px;
  margin-right: 10px;
  background: red;
}

.site-superbanner .site-superbanner-inner a img{
  position: absolute;
  width: 52px;
  height: 52px;
  top: 12px;
  right: 14px;
  border-radius: 5px;
}

.site-superbanner .site-superbanner-inner .item-1{
  width: 80px;
  height: 0;
  margin-top: -3px;
  margin-left: 15px;
  padding-top: 80px;
  background: url(https://gw.alicdn.com/tfs/TB1xAZCoEY1gK0jSZFMXXaWcVXa-80-80.png);
  overflow: hidden;
}

.site-superbanner .site-superbanner-inner .item-2{
  background: url(https://gw.alicdn.com/tfs/TB19NOkoHj1gK0jSZFuXXcrHpXa-209-75.png);
}

.site-superbanner .site-superbanner-inner .item-3{
  background: url(https://gw.alicdn.com/tfs/TB1HuOhoQL0gK0jSZFAXXcA9pXa-209-75.png);
}

.site-superbanner .site-superbanner-inner .item-4{
  background: url(https://gw.alicdn.com/tfs/TB1Y2CgoQP2gK0jSZPxXXacQpXa-209-75.png);
}

.site-superbanner .site-superbanner-inner .item-5{
  background: url(https://gw.alicdn.com/tfs/TB1YvekoHj1gK0jSZFOXXc7GpXa-209-75.png);
}

.site-superbanner .site-superbanner-inner .item-6{
  margin: 0;
  background: url(https://gw.alicdn.com/tfs/TB1W.SkoKH2gK0jSZJnXXaT1FXa-209-75.png);
}

.site-superbanner .site-superbanner-inner .desc-wrapper{
  margin-left: 20px;
  margin-top: 12px;
  color: #fff;
}

.site-superbanner .site-superbanner-inner .desc-wrapper .title{
  height: 28px;
  line-height: 28px;
  font-weight: 600;
  font-size: 20px;
}

.site-superbanner .site-superbanner-inner .desc-wrapper .subtitle{
  line-height: 20px;
  height: 16px;
  font-size: 14px;
}



/*********************************site-aside-bg*****************************************/

.site-screen{
  display: flex;
  height: 1010px;
}

.site-screen-bg-l{
  flex: 1;
  height: 766px;
  background: url(https://gw.alicdn.com/tfs/TB1OD7CoET1gK0jSZFhXXaAtVXa-360-800.png) no-repeat top right/360px 800px;
}

.site-screen-bg-r{
  flex: 1;
  height: 766px;
  background: url(https://gw.alicdn.com/tfs/TB10x3Eoy_1gK0jSZFqXXcpaXXa-360-800.png) no-repeat top left/360px 800px;
}

.site-screen-main{
  background: #fff;
}

.site-aside-fixed{
  position: fixed;
  display: flex;
  width: 100%;
  height: 570px;
  bottom: 0px;
  z-index: -1;
}

.site-aside-fixed-main{
  background: #fff;
}

.site-aside-fixed-l{
  flex: 1;
  background: url(https://gw.alicdn.com/tfs/TB10qoDorr1gK0jSZR0XXbP8XXa-360-570.png) no-repeat  right bottom/360px 570px;
}

.site-aside-fixed-r{
  flex: 1;
  background: url(https://gw.alicdn.com/tfs/TB1dAEHoBr0gK0jSZFnXXbRRXXa-360-570.png) no-repeat  left bottom/360px 570px;
}


/* *************************top-wrap******************************** */
.top-wrap{
  position: relative;
  display: flex;
  height: 140px;
}

.tbh-logo{
  display: flex;
  position: absolute;
  width: 190px;
  height: 100%;
  left: 0;
  align-items: flex-end;
}

.tbh-logo img{

  width: 190px;
  height: 120px;
}

.tbh-search{
  position: relative;
  width: 630px;
  height: 100%;
  margin: 0 auto;
}

.tbh-search .search-wrap{
  position: absolute;
  width: 100%;
  height: 87px;
  top: 32px;
  background: red;
}

.tbh-search .search-wrap .search-triggers{
  width: 100%;
  height: 22px;
}

.tbh-search .search-wrap .search-triggers .goods-search-tabs{
  width: 100%;
  height: 22px;
  margin-left: 17px;
}

.tbh-search .search-wrap .search-triggers .goods-search-tabs .goods-search-item{
  float: left;
  width: 36px;
  height: 22px;
  background: blue;
  margin-right: 4px;
}

.tbh-search .search-wrap .search-panel{
  width: 100%;
  height: 40px;
}

.tbh-search .search-wrap .search-ft{
  width: 100%;
  height: 20px;
  margin-top: 5px;
  border: 1px solid;
}

.tbh-qr-wrapper{
  position: absolute;
  width: 120px;
  height: 100%;
  right: 120px;
  background: red;
}